body {
    background-color: rgba(0, 0, 0, 0.61);

    h2{color: white;text-align: left; }
    h2{font-size: smaller;}
    h2{margin-left: 10px;}
    h2{
       margin-top: 14px;}
    
    nav{
        background-color: rgba(20, 16, 16, 0.753);
        
        width: 180px;
        height: auto;
        position: relative;
    }   
       ul{
        padding: 0;
        margin: 0;
        color: white;
        list-style:none ;
        

      }
    li{
      padding: 20px; 
      font-size: larger;
      color: white;
    }

    #Agentes{
        color: white;
    }
    #Armas{
        color: white;
    }
    #Midia{
        color: white;
    }
    #Mapas{
        color: white;
    }
    #Modos{
        color: white;
    }
    #Sistema{
        color: white;
    }
    #Campeonatos{
        color: white;
    }
    #Comunidade {
        color: white;
    }
    #Atualização{
        color: white;
    }

    .roboto-thin {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .roboto-thin-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .roboto-light {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .roboto-light-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .roboto-regular-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .roboto-medium-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .roboto-bold-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .roboto-black {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .roboto-black-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: italic;
      }

  img{
    margin-top: 5px;
  }  
  input[type="button"]{
    display: none;
}
.sobreposicao{
    text-decoration: none;
    color: white;
    padding: 0px 0px;
    display: block;
}
.sobreposicao:hover{
    background-color: rgb(80, 78, 78);
    width: 153px;
    height: 45px;
    position: static;
    

}
.retangulo-oval {
  width: 150px; /* largura do retângulo */
  height: 20px; /* altura do retângulo */
  border-radius: 10px; /* 50% do raio vai fazer um círculo */
  color: #332;
  position: absolute;
  left: 40%;
  margin-top: 6.5px;
  

}
.search-box {
  width: 200px; /* Largura da caixa de texto */
  padding-right: 30px; /* Espaçamento à direita para o botão de pesquisa */
}

/* Estilos para o botão de pesquisa */
.search-button {
  position: absolute;
  right: 5px; /* Distância da direita */
  top: 50%; /* Alinhar verticalmente */
  transform: translateY(-50%); /* Alinhar verticalmente */
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Ícone de pesquisa */
.search-button i {
  color: #333; /* Cor do ícone */
}
#coluna{
  text-decoration: none;
    color: white;
    padding: 0px 0px;
    display: block;
}
}
